TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
FACEBOOK_CLIENT_ID=1105531074411236
FACEBOOK_CLIENT_SECRET=cf0d228f30107e53e4b925133879f641
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=